<ion-header>
    <ion-toolbar>
        <ion-title class="ion-text-center">Authenticate</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label position="floating">Email:</ion-label>
            <ion-input></ion-input>
        </ion-item>
    </ion-list>
    <!--    <div class="ion-text-center">-->
    <!--      <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>-->
    <!--    </div>-->
    <!--    <div color="primary" class="ion-text-right ion-margin-end" *ngIf="!isLoading">-->
    <div color="primary" class="ion-text-right ion-margin-end" *ngIf="!isLoading">
        <ion-button color="primary" (click)="onLogin()">
            Login
        </ion-button>
    </div>
</ion-content>
